body {
    margin: 0; 
    padding: 0;
    background: linear-gradient(to bottom, #a8e063, #014852);
    min-height: 100vh; 
    font-family: Arial, sans-serif; 
    color: #fff; 
}
header {
    position: fixed; top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #0c0c0c;
    color: #fff;
    height: 50px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
}
ul li {
    margin-right: 100px;

}
ul a {
    text-decoration: none; 
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}
ul a:hover {
    color: #014852;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}
a:hover {
    color: #014852;
}

.titulos {
    font-size: 25px;
    font-style: italic;
    font-family: 'Gill Sans';
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.icono-header {
    
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.icono-header:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.sobre-mi {
  margin-top: 50px;  
  margin-left: 50px;
  width: 1100px;
  height: auto;
  text-align: center;
  padding: 5px;
  color: #f1f1f1;
  border-radius: 10px;
  border: solid;
  border-color: #0c0c0c;
  background-color: #0c0c0c
}
p {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS';
}

.foto-perfil {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 0; 
    border: solid;
    border-color: #0c0c0c;
    box-shadow: 0 0 5px #0c0c0c;
    float: right; 
}


.contenido-sobre-mi {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 50px; 
    text-align: center;
}

.proyectos {
    margin-top: 50px;  
    margin-left: 50px;
    width: 1100px;
    height: auto;
    text-align: center;
    padding: 5px;
    color: #f1f1f1;
    border-radius: 10px;
    border: solid;
    border-color: #0c0c0c;
    background-color: #0c0c0c
}

.contenido-proyectos {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 50px; 
    text-align: center; 
} 

.proyectos-lista {
    justify-content: center;
    text-align: center;
    margin-left: 100px;
}

.contenido-habilidades {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 20px; 
}

.imagen {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.3);
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
}

.tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.contenido-estudios {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 20px; 
}
footer {
    background-color: #0c0c0c;
    color: #f1f1f1;
    padding: 15px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

